body {
  font-family: DM Sans;
}
.display-1 {
  color: white;
  font-family: "DM Sans", sans-serif;
  font-size: 3rem;
  line-height: 1;
}
.display-1 > .mbr-iconfont {
  font-size: 8.75rem;
}
.display-2 {
  font-family: "DM Sans", sans-serif;
  font-size: 4.7rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 5.875rem;
}
.display-4 {
  font-family: "DM Sans", sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: "DM Sans", sans-serif;
  font-size: 2.8rem;
  line-height: 1.2;
}
.display-5 > .mbr-iconfont {
  font-size: 3.5rem;
}
.display-7 {
  font-family: "DM Sans", sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.875rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 5.6rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 4.9rem;
    font-size: calc(
      3.0999999999999996rem + (7 - 3.0999999999999996) *
        ((100vw - 20rem) / (48 - 20))
    );
    line-height: calc(
      1.1 *
        (
          3.0999999999999996rem + (7 - 3.0999999999999996) *
            ((100vw - 20rem) / (48 - 20))
        )
    );
  }
  .display-2 {
    font-size: 3.76rem;
    font-size: calc(2.295rem + (4.7 - 2.295) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc(
      1.3 * (2.295rem + (4.7 - 2.295) * ((100vw - 20rem) / (48 - 20)))
    );
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc(
      1.0350000000000001rem + (1.1 - 1.0350000000000001) *
        ((100vw - 20rem) / (48 - 20))
    );
    line-height: calc(
      1.4 *
        (
          1.0350000000000001rem + (1.1 - 1.0350000000000001) *
            ((100vw - 20rem) / (48 - 20))
        )
    );
  }
  .display-5 {
    font-size: 2.24rem;
    font-size: calc(1.63rem + (2.8 - 1.63) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc(
      1.4 * (1.63rem + (2.8 - 1.63) * ((100vw - 20rem) / (48 - 20)))
    );
  }
  .display-7 {
    font-size: 1.2rem;
    font-size: calc(1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc(
      1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)))
    );
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 0px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 0px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 0px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 0px;
}
.bg-primary {
  background-color: white !important;
}
.bg-success {
  background-color: #40b0bf !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: white !important;
  border-color: white !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #ff5757 !important;
  border-color: #ff5757 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #ff3333 !important;
  border-color: #ff3333 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: maroon !important;
  border-color: white !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: brown !important;
  border-color: #ff5757 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ff3333 !important;
  border-color: #ff3333 !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #ff5757 !important;
  border-color: #ff5757 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
}
.btn-success,
.btn-success:active {
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #ff5757 !important;
  border-color: #ff5757 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0a0800 !important;
  background-color: #ff5757 !important;
  border-color: #ff5757 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff5757 !important;
  border-color: #ff5757 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #ff5757 !important;
  border-color: #ff5757 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #000000 !important;
  border-color: #000000 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #ff5757 !important;
  border-color: #ff5757 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: white;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ff3333 !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: white !important;
  border-color: white !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: white;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ff3333 !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: white !important;
  border-color: white !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #148cca !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #40b0bf;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2a747e !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: white !important;
}
.text-secondary {
  color: white !important;
}
.text-success {
  color: #40b0bf !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: white !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: white !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #40b0bf !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #47b5ed !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #ffe161 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff9966 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #fafafa !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #232323 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(
    .navbar-caption
  ):hover {
  position: relative;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-size: 10000px 3px;
  background-repeat: no-repeat;
  background-position: 0 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(
    .navbar-caption
  ) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 3px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
.nav-tabs .nav-link.active {
  color: white;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-gallery-filter li.active .btn {
  background-color: white;
  border-color: white;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  background-color: white;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: black;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a0d8df;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: black;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: black;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: black;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: "DM Sans", sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px,
    rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: black !important;
}
.form-control:-webkit-input-placeholder {
  font-family: "DM Sans", sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: black;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: white;
  color: black;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: white;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: white;
  border-bottom-color: white;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker
  .xdsoft_timepicker
  .xdsoft_time_box
  > div
  > div.xdsoft_current {
  color: #000000 !important;
  background-color: white !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: white !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23ff8a8a' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-sLNDeywDew {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-sLNDeywDew nav.navbar {
  position: fixed;
}
.cid-sLNDeywDew .container,
.cid-sLNDeywDew .container-fluid {
  display: flex;
  margin: auto;
}
@media (min-width: 992px) {
  .cid-sLNDeywDew .container,
  .cid-sLNDeywDew .container-fluid {
    flex-wrap: nowrap;
  }
}
.cid-sLNDeywDew .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sLNDeywDew .dropdown-menu {
  padding: 1rem 0;
  border-radius: 0px;
  background: #ffffff !important;
}
.cid-sLNDeywDew .dropdown-item:hover,
.cid-sLNDeywDew .dropdown-item:focus {
  color: white !important;
}
.cid-sLNDeywDew .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-sLNDeywDew .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-sLNDeywDew .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-sLNDeywDew .nav-link {
  position: relative;
}
.cid-sLNDeywDew .nav-link:hover {
  color: #ffffff !important;
}
.cid-sLNDeywDew .nav-link:hover:before {
  opacity: 1;
}
.cid-sLNDeywDew .nav-link:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -15px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: white;
  transition: all 0.3s;
  opacity: 0;
}
.cid-sLNDeywDew .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-sLNDeywDew .container {
  display: flex;
  margin: auto;
}
.cid-sLNDeywDew .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-sLNDeywDew .nav-item:focus,
.cid-sLNDeywDew .nav-link:focus {
  outline: none;
}
.cid-sLNDeywDew .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-sLNDeywDew .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sLNDeywDew .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-sLNDeywDew .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sLNDeywDew .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-sLNDeywDew .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-sLNDeywDew .navbar {
  min-height: 100px;
  transition: all 0.3s;
  border-bottom: 2px solid #000000;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: white;
}
.cid-sLNDeywDew .navbar.opened {
  transition: all 0.3s;
}
.cid-sLNDeywDew .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-sLNDeywDew .navbar .navbar-logo img {
  width: auto;
}
.cid-sLNDeywDew .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-sLNDeywDew .navbar.collapsed {
  justify-content: center;
}
.cid-sLNDeywDew .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-sLNDeywDew .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-sLNDeywDew .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3rem);
  }
}
.cid-sLNDeywDew .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-sLNDeywDew .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-sLNDeywDew
  .navbar.collapsed
  .dropdown-menu
  .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-sLNDeywDew .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-sLNDeywDew .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-sLNDeywDew .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-sLNDeywDew .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-sLNDeywDew .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sLNDeywDew .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sLNDeywDew .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-sLNDeywDew
    .navbar
    .dropdown-menu
    .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-sLNDeywDew .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-sLNDeywDew .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-sLNDeywDew .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-sLNDeywDew .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-sLNDeywDew .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-sLNDeywDew .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-sLNDeywDew .navbar.navbar-short {
  min-height: 60px;
}
.cid-sLNDeywDew .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-sLNDeywDew .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-sLNDeywDew .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-sLNDeywDew .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-sLNDeywDew .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-sLNDeywDew .dropdown-item.active,
.cid-sLNDeywDew .dropdown-item:active {
  background-color: transparent;
}
.cid-sLNDeywDew .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-sLNDeywDew .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-sLNDeywDew .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-sLNDeywDew .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: white;
}
.cid-sLNDeywDew
  .navbar.navbar-expand-lg
  .dropdown
  .dropdown-menu
  .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sLNDeywDew .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sLNDeywDew ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-sLNDeywDew .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-sLNDeywDew button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-sLNDeywDew button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-sLNDeywDew button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-sLNDeywDew button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sLNDeywDew button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sLNDeywDew button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-sLNDeywDew nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sLNDeywDew nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-sLNDeywDew nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-sLNDeywDew nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sLNDeywDew .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-sLNDeywDew a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-sLNDeywDew .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sLNDeywDew .navbar {
    height: 70px;
  }
  .cid-sLNDeywDew .navbar.opened {
    height: auto;
  }
  .cid-sLNDeywDew .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
@media (max-width: 992px) {
  .cid-sLNDeywDew .icons-menu {
    padding-right: 0;
  }
  .cid-sLNDeywDew .iconfont-wrapper {
    padding: 0 0.25rem;
  }
}
.cid-sLNCYpfobR {
  padding-top: 9rem;
  padding-bottom: 7rem;
  background-color: maroon;
}
.cid-sLNCYpfobR .row {
  flex-direction: row-reverse;
}
.cid-sLNCYpfobR .mbr-text {
  max-width: 550px;
}
.cid-sLNCYpfobR .row {
  align-items: center;
}
.cid-sLNCYpfobR .mbr-section-subtitle {
  line-height: 1.6;
}
.cid-sLNCYpfobR .mbr-text,
.cid-sLNCYpfobR .mbr-section-btn {
  position: relative;
  top: -20px;
  color: white;
}
.cid-sLNG9HyBl9 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: maroon;
}
.cid-sLNG9HyBl9 .item {
  position: relative;
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-sLNG9HyBl9 .mbr-link {
  background-color: transparent;
  position: absolute;
  bottom: -100%;
  left: 2rem;
  color: black;
  z-index: 3;
  transition: all 0.6s;
  background-color: transparent;
}
.cid-sLNG9HyBl9 .mbr-text {
  color: maroon;
  opacity: 0;
  transition: all 0.1s;
}
.cid-sLNG9HyBl9 .item-wrapper {
  position: relative;
  border-radius: 0px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-sLNG9HyBl9 .item-wrapper:before {
  content: "";
  top: 110%;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 2;
  opacity: 0.9;
  pointer-events: none;
  transition: all 0.5s;
  transition-delay: 0.1s;
}
.cid-sLNG9HyBl9 .item-wrapper:hover:before,
.cid-sLNG9HyBl9 .item-wrapper:focus-within:before {
  top: 0rem;
  transition-delay: 0s;
}
.cid-sLNG9HyBl9 .item-wrapper:hover .item-content,
.cid-sLNG9HyBl9 .item-wrapper:focus-within .item-content {
  opacity: 1;
  top: 1rem;
}
.cid-sLNG9HyBl9 .item-wrapper:hover .mbr-link,
.cid-sLNG9HyBl9 .item-wrapper:focus-within .mbr-link {
  bottom: 1rem;
}
.cid-sLNG9HyBl9 .item-wrapper:hover .mbr-text,
.cid-sLNG9HyBl9 .item-wrapper:focus-within .mbr-text {
  opacity: 1;
}
.cid-sLNG9HyBl9 .item-content {
  position: absolute;
  top: 380px;
  left: 0;
  transition: all 0.6s;
  padding: 1rem 2rem;
  z-index: 3;
}
@media (max-width: 992px) {
  .cid-sLNG9HyBl9 .item-wrapper:before {
    top: 0rem;
    transition-delay: 0s;
  }
  .cid-sLNG9HyBl9 .item-content {
    opacity: 1;
    top: 1rem;
  }
  .cid-sLNG9HyBl9 .mbr-link {
    bottom: 1rem;
  }
  .cid-sLNG9HyBl9 .mbr-text {
    opacity: 1;
  }
}
.cid-sLNG9HyBl9 .item-subtitle {
  position: relative;
  top: 20px;
  color: black;
  -webkit-text-stroke: white;
  text-shadow: 2px 1px 0px rgba(0, 0, 0, 0.3);
}
.cid-sLNG9HyBl9 .item-img {
  overflow: hidden;
}
.cid-sLNG9HyBl9 img,
.cid-sLNG9HyBl9 .item-img {
  width: 100%;
  transition: all 1s;
  height: 500px;
  object-fit: cover;
}
.cid-sLNG9HyBl9 h5 {
  margin: 0;
}
.cid-sLNG9HyBl9 .item:focus,
.cid-sLNG9HyBl9 span:focus {
  outline: none;
}
.cid-sLNG9HyBl9 .mbr-section-title {
  color: #232323;
  text-align: right;
}
.cid-sLNG9HyBl9 .item-title {
  color: #ffffff;
}
.cid-sLNG2MyBoP {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-sLNG2MyBoP ul {
  margin: 0;
  list-style: none;
  padding-left: 0rem;
}
.cid-sLNG2MyBoP ul li {
  transition: all 0.3s;
  padding-bottom: 0.5rem;
}
.cid-sLNG2MyBoP ul li:hover {
  transform: translateX(10px);
}
.cid-sLNG2MyBoP ul li:hover a {
  color: white !important;
  background: none !important;
}
.cid-sLNG2MyBoP h4 {
  border-bottom: 2px solid currentColor;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
}
.cid-sLNG2MyBoP .mbr-title {
  color: white;
}
.cid-sLNIfvvY0I {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-sLNIfvvY0I .text-wrapper {
  padding: 2rem;
  max-width: 650px;
}
@media (max-width: 991px) {
  .cid-sLNIfvvY0I .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-sLNIfvvY0I img {
  width: 130%;
}
@media (max-width: 1400px) {
  .cid-sLNIfvvY0I img {
    width: 150%;
  }
}
@media (max-width: 992px) {
  .cid-sLNIfvvY0I img {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .cid-sLNIfvvY0I .text-wrapper {
    padding: 2rem;
  }
}
.cid-sLNIfvvY0I .mbr-section-subtitle {
  color: white;
}
.cid-sLNIfvvY0I .mbr-text {
  position: relative;
  top: -19px;
  background-color: rgba(
    0,
    0,
    0,
    0.7
  ); /* Background color with some transparency */
  color: #fff; /* Text color for better contrast */
  padding: 10px; /* Adjust padding as needed */
  bottom: 10px; /* Adjust the distance from the bottom */
  left: 10px;
}
.cid-sLNGfXQoMh {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-sLNGfXQoMh .card-wrapper {
  display: inline-flex;
  align-items: center;
}
.cid-sLNGfXQoMh .card {
  display: flex;
  justify-content: center;
  border-radius: 0px;
  padding: 2rem 0;
}
.cid-sLNGfXQoMh img {
  width: 150px;
}
.cid-sLNGfXQoMh .item-border {
  border-bottom: 2px solid currentColor;
  margin: 0;
  margin-bottom: 1rem;
  justify-content: space-between;
}
.cid-sLNGfXQoMh .item-border:hover .mbr-iconfont2 {
  color: white;
  transform: translateX(5px);
}
.cid-sLNGfXQoMh h5 {
  margin: 0;
}
.cid-sLNGfXQoMh .card-title,
.cid-sLNGfXQoMh .card-link {
  transition: all 0.3s;
}
.cid-sLNGfXQoMh .card-title:hover,
.cid-sLNGfXQoMh .card-link:hover {
  cursor: pointer;
  color: white !important;
}
.cid-sLNGfXQoMh .mbr-flex {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .cid-sLNGfXQoMh .card-wrapper,
  .cid-sLNGfXQoMh .mbr-flex {
    flex-direction: column;
  }
  .cid-sLNGfXQoMh .card {
    padding: 1rem 0;
  }
}
.cid-sLNGfXQoMh .card-text {
  color: #666666;
}
.cid-sLNGfXQoMh .card-link {
  color: #666666;
}
.cid-sLNGfXQoMh .card-title {
  color: #000000;
}
.cid-sLNGfXQoMh .card-title,
.cid-sLNGfXQoMh .item-border {
  color: #121212;
}
.cid-sLNGfXQoMh .card-subtitle {
  color: #666666;
}
.cid-sLNI0ZL8qe {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-sLNI0ZL8qe .mbr-media {
  position: relative;
}
.cid-sLNI0ZL8qe .mbr-media img {
  width: 100%;
  object-fit: cover;
}
.cid-sLNI0ZL8qe .icon-wrap {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.cid-sLNI0ZL8qe .icon-wrap:hover span {
  transform: scale(1.2);
}
.cid-sLNI0ZL8qe .mbr-media span {
  font-size: 4rem;
  display: block;
  transition: all 0.2s;
  color: white;
}
.cid-sLNI0ZL8qe .modalWindow {
  position: fixed;
  z-index: 5000;
  left: 0;
  top: 0;
  background-color: rgba(61, 61, 61, 0.65);
  width: 100%;
  height: 100%;
}
.cid-sLNI0ZL8qe .modalWindow .modalWindow-container {
  display: table-cell;
  vertical-align: middle;
}
.cid-sLNI0ZL8qe .modalWindow .modalWindow-video {
  height: calc(44.9943757vw);
  width: 80vw;
  margin: 0 auto;
}
.cid-sLNI0ZL8qe .close {
  position: fixed;
  opacity: 0.5;
  font-size: 22px;
  font-weight: 300;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  top: 2.5rem;
  right: 2.5rem;
  border: 2px solid #fff;
  text-shadow: none;
  z-index: 5;
  transition: opacity 0.3s ease;
  align-items: center;
  justify-content: center;
  display: flex;
}
.cid-sLNI0ZL8qe .close:hover {
  opacity: 1;
  background: #000;
  color: #fff;
}
.cid-sLNGh6AC42 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-sLNGh6AC42 .icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-sLNGh6AC42 .item-border {
  margin-bottom: 2rem;
  justify-content: space-between;
}
.cid-sLNGh6AC42 .item-border:hover .mbr-iconfont2 {
  color: white;
  transform: translateX(5px);
}
.cid-sLNGh6AC42 .card-title {
  margin: 0;
}
.cid-sLNGh6AC42 .mbr-flex {
  display: flex;
  align-items: center;
}
.cid-sLNGh6AC42 .card {
  border-radius: 0px;
}
@media (max-width: 767px) {
  .cid-sLNGh6AC42 .card-wrapper,
  .cid-sLNGh6AC42 .mbr-flex {
    flex-direction: column;
  }
  .cid-sLNGh6AC42 .mbr-iconfont {
    margin-bottom: 2rem;
    margin-right: 0;
  }
  .cid-sLNGh6AC42 .card-title {
    padding: 0;
  }
  .cid-sLNGh6AC42 .card {
    padding-top: 3rem;
  }
}
.cid-sLNGh6AC42 .card-text {
  color: #666666;
}
.cid-sLNGh6AC42 .mbr-text,
.cid-sLNGh6AC42 .mbr-section-btn {
  color: #666666;
}
.cid-sLNGh6AC42 .card-title,
.cid-sLNGh6AC42 .mbr-iconfont2 {
  color: #000000;
}
.cid-sLNHX3YjQX {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-sLNHX3YjQX .img-wrapper {
  text-align: center;
}
.cid-sLNHX3YjQX img {
  margin: auto;
  width: 100%;
  max-width: 140px;
  padding-bottom: 1.5rem;
}
.cid-sLNHX3YjQX .row {
  align-items: flex-start;
}
@media (max-width: 992px) {
  .cid-sLNHX3YjQX .card-wrapper {
    margin-bottom: 2rem;
  }
}
@media (min-width: 1400px) {
  .cid-sLNHX3YjQX .card-wrapper {
    padding: 2rem;
  }
}
@media (max-width: 1400px) {
  .cid-sLNHX3YjQX .card-wrapper {
    padding: 2rem 1rem;
  }
}
.cid-sLNHX3YjQX .card-title {
  color: #666666;
}
.cid-sLNHX3YjQX .text {
  color: #666666;
}
.cid-sLNHAm9KbW {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-sLNHAm9KbW .row {
  justify-content: space-between;
}
.cid-sLNHAm9KbW .icon-wrapper {
  width: 100%;
  text-align: right;
}
.cid-sLNHAm9KbW .mbr-iconfont {
  color: #47b5ed;
  font-size: 3rem;
}
.cid-sLNHAm9KbW .text-wrapper {
  min-width: 50%;
}
.cid-sLNHAm9KbW .image-wrapper {
  width: 70px;
  height: 70px;
  min-width: 70px;
  border-radius: 50%;
  margin-top: 5px;
  margin-right: 1rem;
  overflow: hidden;
}
.cid-sLNHAm9KbW .image-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.cid-sLNHAm9KbW .d-flex {
  border-top: 2px solid currentColor;
  padding-top: 4rem;
  align-items: center;
}
.cid-sLNHAm9KbW .mbr-section-title {
  color: white;
}
.cid-sLNHAm9KbW .position {
  color: #666666;
}
.cid-sLNHAm9KbW .name,
.cid-sLNHAm9KbW .d-flex {
  color: #000000;
}
.cid-sLNHwyPTJb {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #ffffff;
}
.cid-sLNHwyPTJb h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-sLNHwyPTJb p {
  color: #767676;
  text-align: left;
}
.cid-sLNHwyPTJb .card-wrapper {
  height: 100%;
}
.cid-sLNHwyPTJb .card-wrapper:hover .card-img:before {
  opacity: 0.2;
}
.cid-sLNHwyPTJb .card-img {
  height: 300px;
  position: relative;
  overflow: hidden;
}
.cid-sLNHwyPTJb .card-img:before {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.3s;
  width: 100%;
  pointer-events: none;
  height: 100%;
  background: black;
  content: "";
}
.cid-sLNHwyPTJb img {
  object-fit: cover;
  height: 100%;
  transition: all 0.3s;
}
.cid-sLNHwyPTJb .mbr-iconfont {
  position: absolute;
  font-size: 3rem;
  color: #ffffff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.3s;
  opacity: 0;
  z-index: 2;
}
.cid-sLNHwyPTJb .card:hover .mbr-iconfont {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
.cid-sLNHwyPTJb .title {
  text-align: center;
}
@media (max-width: 767px) {
  .cid-sLNHwyPTJb .mbr-iconfont {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  .cid-sLNHwyPTJb .card-img:before {
    opacity: 0.2;
  }
}
.cid-sLNHvGpRQv {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-sLNHvGpRQv .card-wrapper {
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  .cid-sLNHvGpRQv .card-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-sLNHvGpRQv .line {
  width: calc(100% - 2rem);
  background: currentColor;
  height: 2px;
  margin: auto;
  margin-top: 2rem;
}
.cid-sLNHvGpRQv .card-title {
  padding-right: 1rem;
  margin: 0;
}
.cid-sLNHvGpRQv .mbr-iconfont {
  font-size: 2rem;
  color: #ffffff;
  padding: 1rem;
  border-radius: 50%;
  background: white;
  margin-right: 1rem;
}
.cid-sLNHvGpRQv .mbr-flex {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .cid-sLNHvGpRQv .card-wrapper,
  .cid-sLNHvGpRQv .mbr-flex {
    flex-direction: column;
  }
  .cid-sLNHvGpRQv .mbr-iconfont {
    margin-bottom: 1rem;
    margin-right: 0;
  }
  .cid-sLNHvGpRQv h4 {
    padding: 0;
  }
}
.cid-sLNHvGpRQv .card-text {
  color: #000000;
}
.cid-sLNHyAxh6n {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background: #ffffff;
}
.cid-sLNHyAxh6n .google-map {
  height: 30rem;
  position: relative;
}
.cid-sLNHyAxh6n .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-sLNHyAxh6n .google-map [data-state-details] {
  color: #6b6763;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-sLNHyAxh6n .google-map[data-state] {
  background: #e9e5dc;
}
.cid-sLNHyAxh6n .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-sLNHBnP2mh {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-sLNHBnP2mh .mbr-text {
  color: #767676;
}
@media (max-width: 992px) {
  .cid-sLNHBnP2mh .footer-lower .copyright {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-sLNHBnP2mh .footer-lower .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.cid-sLNHBnP2mh .footer-lower .social-list .mbr-iconfont-social {
  font-size: 1.3rem;
  color: #000000;
  transition: all 0.3s;
  display: block;
  cursor: pointer;
}
.cid-sLNHBnP2mh .footer-lower .social-list .mbr-iconfont-social:hover {
  color: white;
  transform: translateY(-3px);
}
.cid-sLNHBnP2mh .footer-lower .social-list .soc-item {
  margin: 0 1rem;
}
.cid-sLNHBnP2mh .footer-lower .social-list a {
  margin: 0;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}
@media (max-width: 992px) {
  .cid-sLNHBnP2mh .footer-lower .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-sLNHBnP2mh .copyright > p {
  color: #000000;
}
